#confirm {
    display: none;
    background-color: #FFA500;
    /* border: 1px solid #aaa; */
    position: fixed;
    width: 400px;
    top: 82px;
    left: 50%;
    margin-left: -170px;
    padding: 18px 8px 8px;
    box-sizing: border-box;
    text-align: center;
    z-index: 3;
    border-radius: 5px;
    height: 100px;
    font-size: 20px;
  }
 #confirm .yes{
    background-color: white;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
    text-align: center;
    width: 80px;
    cursor: pointer;
    margin-top: 10px;
 }
 #confirm .yes:hover{
     background-color: black;
     color: white;
     border: 1px solid black;
     transition: .5s;
 }